body {
    color: #000;
    background-color:#ffffff;
}

.attribution {
    font-size: 80%;
}

a {
    text-decoration: none;
    font-weight: 700;
}
a:hover {
    color:#444;
}
a:visited {
    color:#447099;
}
a:link {
    color:#447099;
}

td {
    vertical-align: top;
}

@media only screen
and (min-width : 300px)
and (max-width : 750px) {
    .date { display: none }
    .guests { display: none }
    .logo { text-align: center }
    h1, h2 { text-align: center }
}

@media only screen
and (min-width : 751px)
and (max-width : 1000px) {
    .guests { display: none }
    .logo { text-align: center }
    h1, h2 { text-align: center }
}

td { border-style: single }
