body {
    color: #000;
    background-color:#ffffff;
    font-family: sans;
    font-size: 15px;
}
h1, .logo { text-align: center }
h1,h2,h3,h4,h5,h6{font-weight:400;margin:10px 0}
.attribution {
    font-size: 80%;
    line-height: 1;
}

a {
    font-weight: inherit;
    color: black;
    text-decoration: underline;
}
a:hover { color: #666 }

td {
    vertical-align: top;
}

td { border-style: single }

/* The side navigation menu */
.sidenav {
    height: 100%; /* 100% Full-height */
    width: 250px;
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0;
    left: 0;
    background-color: #eee;
    overflow-x: hidden; /* Disable horizontal scroll */
    font-size: medium;
}

/* The navigation menu links */
.sidenav a {
    text-decoration: none
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

.openbtn {
    position: fixed;
    left: 25px;
    cursor: pointer;
}

#main {
    padding-left: 250px;
    margin-right: 1%;
    line-height: 1.5;
    margin-top: 40px;
    width: 100%;
    box-sizing: border-box;
}

#head-wrap {
    position: fixed;
    padding-left: 250px;
    background: #fff;
    height: 40px;
    width: 100%;
    top: 0;
    box-sizing: border-box;
}

@media screen and (max-width: 799px) {
    .sidenav { left: -250px;}
    #main { padding-left: 1%;}
    #head-wrap { padding-left: 1%;}
}

blockquote { margin-right: inherit }

.pure-button:focus{outline:0}
.pure-button{line-height:normal}
.pure-button{box-sizing:border-box}
.pure-button{display:inline-block;zoom:1;white-space:nowrap;vertical-align:middle;text-align:center;cursor:pointer;-webkit-user-drag:none;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}
.pure-button{font-family:inherit;font-size:100%;padding:.5em 1em;color:#444;color:rgba(0,0,0,.8);border:1px solid #999;border:transparent;background-color:#E6E6E6;text-decoration:none;border-radius:2px}
.pure-button:focus,.pure-button:hover{filter:alpha(opacity=90);background-image:-webkit-linear-gradient(transparent,rgba(0,0,0,.05) 40%,rgba(0,0,0,.1));background-image:linear-gradient(transparent,rgba(0,0,0,.05) 40%,rgba(0,0,0,.1))}
.pure-button:active{box-shadow:0 0 0 1px rgba(0,0,0,.15) inset,0 0 6px rgba(0,0,0,.2) inset;border-color:#000\9}
.pure-button{letter-spacing:normal;word-spacing:normal;vertical-align:top;text-rendering:auto;margin:0;border-radius:0;border-right:1px solid #111;border-right:1px solid rgba(0,0,0,.2)}
.pure-button:first-child{border-top-left-radius:2px;border-bottom-left-radius:2px}

.button{
  background-color:#F44336;
  width:60px;
  height:60px;
  border-radius:100%;
  background:#F44336;
  border:none;
  outline:none;
  color:#FFF;
  font-size:36px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  transition:.3s;  
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

#search {
    float: right;
    font-size: 12px;
    margin: 7px 92px 0 7px;
	}
#search-query {
    background-color: rgba(0,0,0,0.03);
    border: 1px solid rgba(0,0,0,0.1);
    border-radius: 21px;
    box-sizing: border-box;
    color: rgba(0,0,0,0.8);
    display: block;
    font-size: 12px;
    height: 32px;
    line-height: 1;
    padding: 5px 27px 6px 12px;
    transition: all 0.2s ease-in-out 0s;
    width:100%;
    outline:none;
	}
#search-query::-webkit-input-placeholder {
	line-height:18px;
	height:18px;
	}

#search-query:focus {
	box-shadow:none;
	text-shadow:none;
	background-color:#fff;
	color:#666;
	}
.search-icon {
    font-size: 12px;
    cursor: pointer;
    display: block;
    height: 32px;
    position: absolute;
    right: 2px;
    top: 0;
    width: 26px;
	z-index: 3;
	text-align: left;
	}
button.icon.nav-search {
	border: 0 none;
    background-repeat: no-repeat;
    display: inline-block;
    vertical-align: text-top;
    height: 14px;
    width: 14px;
	background-position: -20px -710px;
    background-color: transparent;
    margin-left: 7px;
    margin-top: 6px;
    cursor:pointer;
	}
button.icon.nav-search span {
    border: 0 none;
    clip: rect(0px, 0px, 0px, 0px);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
	}
div:target {
  padding-top: 40px; 
  margin-top: -40px;
}
